{% extends "layout.html" %} 

{% block heading %} 
  BOOK DETAIL
  <div>
    {% if username %}
      <span class="mr-1">Hi, {{username}} </span>
      <a class = "btn btn-dark btn-sm" href="/logout">Logout</a>
    {% endif %}   
  </div>
{% endblock %} 

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="/book-search">Book search</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{book.title}}</li>
{% endblock %}

{% block body %}
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{book.title}}</h1>
    <p class="lead">Author: {{book.author}}</p>
    <p class="lead">Publication year: {{book.year}}</p>
    <p class="lead">ISBN: {{book.isbn}}</p>
    <p class="lead">goodreads average rating: {{goodreads_average_rating}}</p>
  </div>
</div>
<!-- make comment -->
<form action="{{url_for('review', isbn=book.isbn)}}" method="POST">
  <div class="form-group">
    <label>{{username}}, you may leave your review:</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Rating: </label>
      </div>
      <select class="custom-select" name="rating" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
      </select>
    </div>
    <textarea class="form-control" name="comment" id="comment" rows="3" placeholder="Opinion..."></textarea>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary mt-2" type="submit">Send review</button>
    </div>
  </div>
</form>
<!-- list of reviews -->
<label>List of reviews:</label>
<ul class="list-group mb-5">
  {% for review in reviews %}
  <li class="list-group-item">
    <div class="d-flex w-100 justify-content-end">
      <small>Rating: {{review.rating}}</small>
    </div>
    <p class="mb-1">{{review.comment}}</p>
    <!-- <small></small> -->
  </li>
  {% endfor%}
</ul>

{% endblock %}